/* General body styles */
body {
    background-image: url('/Bierengel.com/assets/image/Bierengel_Bengel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 150px; /* Matches header height */
    padding-bottom: 50px; /* Matches footer height */
    min-height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Header */
header {
    background-image: url('/Bierengel.com/assets/image/spacig.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

/* Navigation */
nav {
    background: linear-gradient(to right, black, silver);
    background-blend-mode: overlay;
    padding: 0.5rem 0;
    text-align: center;
    position: fixed;
    top: 150px; /* Push below the search bar */
    left: 0;
    width: 100%;
    z-index: 1000; /* Below the search bar */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: gold;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: red;
    text-decoration: underline;
}

/* Suchfeld Container */
div.search-container {
    position: fixed; /* Fix the position to the top-right */
    padding-top: 100px;
    right: 20px; /* Position it to the right side */
    z-index: 1000; /* Ensure it's above other elements */
    text-align: right;
}

/* Input Field Styling */
form input[type="text"] {
    padding: 5px;
    width: 200px;
    border: 1px solid gold;
    border-radius: 5px;
    background-color: black;
    color: silver;
    position: relative;
}

form button {
    padding: 5px 10px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: gold;
    color: black;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}

form button:hover {
    background-color: red;
    color: white;
}

/* Main Content */
main {
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 200px); /* Header (150px) + Footer (50px) */
    box-sizing: border-box;
}

main h1 {
    text-align: center;
    color: silver;
    padding-top: 10px;
}

/* Footer */
footer {
    background: linear-gradient(to right, black, silver);
    color: white;
    height: 50px;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    border-top: 2px solid red;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}
